@tailwind base;
@tailwind components;

.header nav {
    background: rgba(0, 0, 0, 0.4)
}

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Quicksand:wght@400;600&display=swap');

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-color: #f8fcff;
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
    body {
      /* The hack for Safari */
      height: -webkit-fill-available;
    }
}

.pageTitle {
    @apply text-ssscBlue text-center text-6xl font-semibold;
}

.subTitle {
    @apply font-semibold text-xl;
}
